<main class="w-full p-5">
  <h1 class="text-2xl font-bold mb-4">Book Status</h1>
  <div
    class="mb-4 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
  >
    <app-book-status-card [statusData]="statusCardMeta[0]">
      <span class="iconify icon" data-icon="ic:baseline-check-box"></span>
    </app-book-status-card>

    <app-book-status-card [statusData]="statusCardMeta[1]">
      <span class="iconify icon" data-icon="ph:book-fill"></span>
    </app-book-status-card>

    <app-book-status-card [statusData]="statusCardMeta[2]">
      <span class="iconify icon" data-icon="fontisto:radio-btn-active"></span>
    </app-book-status-card>

    <app-book-status-card [statusData]="statusCardMeta[3]">
      <span class="iconify icon" data-icon="ph:calendar"></span>
    </app-book-status-card>

    <app-book-status-card [statusData]="statusCardMeta[4]">
      <span class="iconify icon" data-icon="uil:x"></span>
    </app-book-status-card>
  </div>
  <h1 class="text-2xl font-bold mb-4">Patron Statistics</h1>
</main>
